header{
    text-align: center;
    padding: 5px;
    color: rgb(17, 7, 156);
    background-color: rgb(10, 182, 194);
}
footer{
    text-align: center;
    clear: both;
    padding: 20px;
    color: rgb(17, 7, 156);
    background-color: rgb(10, 182, 194);
}
div.menu{
    min-width: 15%;
    float: left;
    background-color: rgb(238, 234, 14);
    }

div.menu ul{
    list-style-type: disc;
    text-align: left;
    padding: 0px 5px 40px 25px;
}
div.menu p{
    font-weight: bold;
    padding-left: 5%;
}
h2,h3{
    margin: 0px;
    text-align: center;
}
div.content{
    margin-left: 17%; 
  }
img{
    float: left;
    margin: 20px;
}
main{ 
    background-image: url('./мяч.svg');
    background-size: 45px;
    background-position: 100% 0%;
    background-repeat: repeat-y;
}
